@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');



.glow{
  font-size: 5vh;
  padding: 25px 30px;
  background-color: #050801;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.glow:hover{
    background: whitesmoke;
    color: #050801;
    box-shadow: 0 0 5px black,
                0 0 25px black,
                0 0 50px black,
                0 0 200px black;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}