*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    border-style: none;
}
body{
    overflow: hidden;
}

.play{
    width: 200px;
    height: 200px;
   overflow: hidden;
   position: absolute;
   top: 50%;
   right: 0;
}
.play img{
    width: 200px;
    height: 200px;
}
.background{
  
   position: absolute;
   right: 0;
   top: 0;
  z-index: -1;
   background-size: cover;
}

