*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    border-style: none;
}

body{
   background-image: url(images/background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
    background-color: black;
    overflow: hidden;
}
.play{
    width: 200px;
    height: 200px;
   overflow: hidden;
   position: absolute;
   top: 50%;
   right: 0;
}
.play img{
    width: 200px;
    height: 200px;
}