@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Saira:wght@300&family=Teko:wght@500&display=swap');
*{
    margin: 0;padding: 0;
}

body{
    background-image: url(images/background2.jpg);
    /* background-color: black; */
}
 h2{
    color: #36454F;
    font-size: 6.5vh;
    padding: 3vh 0 2vh 7vw;
}
 .image {
    padding: 2vh 0 2vh 7vw;
    

}

.image img{
    width: 88%;
}
 .content{
    font-family: 'Saira', sans-serif;
    color: white;
    width: 75%;
    font-size: 3.2vh;
    padding: 2vh 12vw;

}
