@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Teko:wght@500&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    border-style: none;
}
html{
    font-size: 62.5%;
    font-family: 'Lora', serif;
}
.logo i{
   padding-right: 1vw;
   color: #0D0D0D !important;
   text-shadow: 0 1px 10px red;

}
.logo{
   margin-left: 3.7vw ;
   font-family: 'Teko', sans-serif;
   color: rgb(183, 198, 205);
      font-size: 3rem;
   text-transform: capitalize;
}

header{
    position: relative;
    padding: 15px 20px;
    display: flex;
    align-items: center;
   height: 4vh;
   border-radius: 0px 0px 2px 2px;
   justify-content:space-between ;
   box-shadow: 0 5px 10px black;
}
.scrol{
   position: sticky !important;
   top: 0;
   height: 2.5vh;
   background-color: black;
   color: black;
   .navbar a{
      font-size: 13px;
   }
   .logo{
      font-size: 2.7rem;
   }
   .logo i{
      font-size: 25px;
   }
}
.navbar a{
   font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin:  0 0.5rem;
    color:  #C0C0C0;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #0D0D0D;
    padding: 1rem 1.5rem;
    transition: 0.3s;
}
.navbar a:hover{
 color: #485461;
}
.btn{
   cursor: pointer;
    align-items: center;
   display: none;
}

 
@media(max-width : 780px){
 .btn{
    display: flex;
    font-size: 20px;
 }

 header{
   background-color: #0D0D0D;
 }
 .navbar{
    border-radius: 15px 0px 0px 0px ;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    transition: 0.5s ;
    position: fixed;
     color: white;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 100vh;
    background-color: #0D0D0D;
    justify-content: start;
    align-items: flex-start;
    top: 0; 
    right: 0;
   padding: 8rem 0 0 0;
   right: -100vw;
 }
 .menu-btn{
   color: white;
 }
 .close-btn{
    cursor: pointer;
    position: absolute;

    top: 10px;
    left: 10px;
    margin: 10px;
 }
 
}