@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    border-style: none;
}


html{
    font-size: 62.5%;
    font-family: 'Londrina Solid', cursive;
}
.logo{
   font-family: 'Nabla', cursive;
   font-size: 2.5rem;
   text-transform: capitalize;

}
header{
    padding: 15px 50px;
    display: flex;
    box-shadow: 0px 3px 10px rgba(29, 27, 27, 0.929);
    justify-content: space-between;
    align-items: center;
   background-color:  #0D0D0D;
   height: 6vh;
   border-radius: 0px 0px 2px 2px;
}
.navbar a{
    font-size: 18px;
    margin:  0 0.5rem;
    color:  #C0C0C0;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #0D0D0D;
    padding: 1rem 1.5rem;
}
.navbar a:hover{
 font-family: 'Londrina Outline', cursive;
 color: #c0754d;
 text-decoration: dotted;
}
.btn{
   cursor: pointer;
    align-items: center;
   display: none;
}
@media(max-width : 780px){
 .btn{
    display: flex;
    font-size: 20px;
 }
 
 header{
   background-color: #0D0D0D;
 }
 .navbar{
    border-radius: 15px 0px 0px 0px ;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    transition: 0.5s ;
    position: fixed;
     color: white;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 100vh;
    background-color: #0D0D0D;
    justify-content: start;
    align-items: flex-start;
    top: 0; 
    right: 0;
   padding: 8rem 0 0 0;
   right: -100vw;
 }
 .menu-btn{
   color: white;
 }
 .close-btn{
    cursor: pointer;
    position: absolute;

    top: 10px;
    left: 10px;
    margin: 10px;
 }
 
}